body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #2c3e50; /* Choose a color for your banner background */
    padding: 20px;
    color: #fff; /* Text color */
}

.banner {
    display: flex;
    align-items: center;
}

.banner img {
    width: 100px; /* Adjust as needed */
    height: auto;
    border-radius: 50%; /* To make the image round */
    margin-right: 20px;
}

.banner h1 {
    font-size: 24px;
    margin: 0;
}

input.submitButton {
    background-color:#C00000;
    font-weight: 700;
    border-radius:12px;
    cursor:pointer
}

input.submitButton:disabled {
    background-color:#C06060;
    font-weight: 700;
    border-radius:12px;
    cursor:pointer
}

button.submitButton {
    background-color:#C00000;
    font-weight: 700;
    border-radius:12px;
    cursor:pointer;
    color: white; /* Text color */
    border: none; /* Remove default button border */
    padding: 10px 20px; /* Add some padding */
}

button.blueButton {
    background-color:#465b9e;
    font-weight: 700;
    border-radius:12px;
    cursor:pointer;
    color: white; /* Text color */
    border: none; /* Remove default button border */
    padding: 10px 20px; /* Add some padding */
}